backcall==0.2.0
certifi==2023.7.22
chardet==3.0.4
colorama==0.4.3
coverage==5.3
decorator==4.4.2
idna==2.10
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.8.0
pickleshare==0.7.5
Pillow==10.0.1
prompt-toolkit==3.0.7
pygame==2.1.1
Pygments==2.15.0
requests==2.31.0
simple-draw==2.7.0
six==1.15.0
traitlets==5.0.4
urllib3==1.26.17
vk-api==11.9.0
wcwidth==0.2.5
peewee==3.13.3
opencv-contrib-python==4.4.0.42
lxml ==4.9.1
psycopg2 == 2.8.6